<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='../css/normalize.css'/>
    <link rel='stylesheet' href='../css/css.css'/>
    <title>Title</title>
</head>
<body>

<div class = "name"><hr/>THE JOURNAL OF</div> <div class="name-2">JELLYFISH STUDIES<hr/></div>
<h1 class="title">Medusa</h1>
<div class="caption">Chrysaora quinquecirrha, Patrice Stephens-Bourgeault</div>
<div class="volume">VOLUME</div>
<img src = "../images/image.jpg" class = "image">
<div class="n">N</div><div class="dot">.</div><div class="number"><sup>o</sup>2</div><div class="two">2</div>
<div class="date"><hr/>MAY 2014<hr/></div>

</body>
</html>

